.lyout_ListView{
    color: $defalutColor;
    height: 100%;
    background-color: #F1F1F1;
    overflow: auto;
    .lyout_ListView_item_kuang{
        width: 100%;
    }
    .defalut_lyout_ListView_item{
        cursor: pointer;
    }
    .defalut_lyout_ListView_item_key:active{
        // background-color: red;
    }
}